@import '../../../styles/variables';

.SideMenu {
  width: 75%;
  height: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background-color: $main-blue;
  opacity: 0.9;
  transition: right 0.5s ease-in-out;
  overflow-y: scroll;

  &.Inactive {
    right: -100%;
  }
}
