@import "../../styles/variables";
@import "../../styles/mixins";

.Emprendimientos {
  background-image: url("../../assets/background/Servicios.jpg");
  min-height: 100vh;
  @include background-image();

  & .Content {
    @include content();

    @include smallDevices() {
      margin: 0 $spacing-s;
    }

    &__Title {
      @include secondary-title();
      align-self: center;
      color: $white;
      text-shadow: $text-shadow-black;
    }
  }
}
