@import "../../../../styles/variables";

.LunchSlide {
  transition: all 0.5s ease-out;
  animation: openImage 0.5s ease-out forwards;

  &__Image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@keyframes openImage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
