@import "../../../styles/variables";
@import "../../../styles/mixins";

.ServiceContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;

  @include smallDevices(){
    flex-direction: column;
  }
  
  @include mediumDevices(){
    flex-direction: column;
  }

  & .ServiceItem {
    flex: 0 1 42%;
  }
}
