@import "../../../../../styles/variables";

.LogoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: $spacing-s;

    &__Image{
        width: 100%;
        height: auto;
    }
}