@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.SideMenuItem {
  display: flex;
  align-items: stretch;
  margin: $spacing-xs $spacing-l;

  &__Icon {
    flex: 0 1 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    & svg {
      width: 80% !important;
      height: auto;
      max-width: 30px;
    }
  }

  &__Link {
    flex: 0 1 85%;
    box-sizing: border-box;
    padding: $spacing-xs; 
    text-align: center;
    
    & a {
      font-size: $font-size-m;
      color: $white;
      font-weight: bold;
      text-decoration: none;

      @include smallDevices() {
        font-size: $font-size-s;
      }
    }
  }
}
