@import "../../styles/variables";
@import "../../styles/mixins";

.Viandas {
  background-image: linear-gradient(to bottom, $white-gradient, $white),
    url("../../assets/background/background3.jpg");
  min-height: 100vh;
  @include background-image();

  & .Content {
    @include content();

    @include smallDevices() {
      margin: 0 $spacing-s;
    }

    &__Title {
      @include secondary-title();
      color: $black;
      text-shadow: $text-shadow-white;
    }
  }
}
