@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.LogosList {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: $spacing-l;

  & .LogoItem {
    flex: 0 1 20%;

    @include smallDevices(){
      flex: 0 1 50%;
    }
    
    @include mediumDevices() {
      flex: 0 1 50%;
    }
  }
}
