@import "../../styles/variables";
@import "../../styles/mixins";

.Contacto {
  background-image: //linear-gradient(to bottom, $white-gradient, $white),
    url("../../assets/background/background4.jpg");
  min-height: 100vh;
  @include background-image();

  & .Content {
    @include content();

    @include smallDevices() {
      margin: 0 $spacing-s;
    }

    &__Title {
      @include secondary-title();
      color: $white;
      text-shadow: $text-shadow-black;
    }

    &__Section {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      & .Area{
        flex: 0 1 46%;

        @include smallDevices(){
          flex: 0 1 100%;
        }
      }
    }
  }
}
