@import "../../styles/variables";
@import "../../styles/mixins";

.Contacto {
  background-image: url("../../assets/background/Contacto.jpg");
  min-height: 100vh;
  @include background-image();

  & .Content {
    @include content();
    align-items: center;

    @include smallDevices() {
      margin: 0 $spacing-s;
    }

    &__Title {
      @include secondary-title();
      align-self: center;
      color: $white;
      text-shadow: $text-shadow-black;
    }

    &__Section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include smallDevices(){
        flex-direction: column;
      }
      
      @include mediumDevices() {
        flex-direction: column;
      }

      & .Area {
        flex: 0 1 46%;

        @include smallDevices() {
          flex: 0 1 100%;
        }
      }
    }
  }
}
