@import "./variables";

@mixin mediumDevices() {
  @media only screen and (min-width:600px) and (max-width: 1024px) {
    @content;
  }
}

@mixin smallDevices() {
  @media only screen and (max-width: 599px) {
    @content;
  }
}

@mixin background-image() {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@mixin main-title() {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: $font-size-xxxl;

  @include mediumDevices() {
    font-size: $font-size-xxl;
  }

  @include smallDevices() {
    font-size: $font-size-l;
  }
}

@mixin title-decoration() {
  padding: 0 $spacing-xl;
  border-width: $spacing-xxs;
  border-style: solid;
  border-image: linear-gradient(to bottom, $main-blue, $white) 1 100%;
}

@mixin secondary-title() {
  font-family: Georgia, serif;
  font-size: $font-size-xxxl;
  text-align: center;
  text-transform: uppercase;
  @include title-decoration();
}

@mixin content() {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0 ($spacing-4xl * 2);  
}
