// Colors
$white: #ffffff;
$black: #000000;
$main-blue: #206cbd;

// Spacings
$spacing-xxs: 0.2rem;
$spacing-xss: 0.4rem;
$spacing-xs: 0.6rem;
$spacing-ss: 0.8rem;
$spacing-s: 1rem;
$spacing-m: 1.2rem;
$spacing-l: 1.4rem;
$spacing-xl: 1.6rem;
$spacing-xxl: 1.8rem;
$spacing-xxxl: 2rem;
$spacing-4xl: 2.2rem;

// Font sizes
$font-size-xxs: 0.3rem;
$font-size-xs: 0.6rem;
$font-size-s: 0.9rem;
$font-size-m: 1.2rem;
$font-size-l: 1.5rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2.1rem;
$font-size-xxxl: 2.5rem;

// Reusable sizes
$header-height-s: 2rem;
$header-height-m: 3rem;
$header-height-l: 5rem;
