// Colors
$white: #ffffff;
$white-gradient: rgba(255, 255, 255, 0.5);
$grey: #888888;
$grey-gradient:  rgba(122, 122, 122, 0.6);
$black: #000000;
$black-gradient: rgba(0, 0, 0, 0.5);
$main-blue: #206cbd;
$main-blue-gradient: rgba(32, 108, 189, 0.5);

// Spacings
$spacing-xxs: 0.2rem;
$spacing-xss: 0.4rem;
$spacing-xs: 0.6rem;
$spacing-ss: 0.8rem;
$spacing-s: 1rem;
$spacing-m: 1.2rem;
$spacing-l: 1.4rem;
$spacing-xl: 1.6rem;
$spacing-xxl: 1.8rem;
$spacing-xxxl: 2rem;
$spacing-4xl: 2.2rem;

// Font sizes
$font-size-xxs: 0.3rem;
$font-size-xs: 0.6rem;
$font-size-s: 0.9rem;
$font-size-m: 1.2rem;
$font-size-l: 1.5rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2.1rem;
$font-size-xxxl: 2.5rem;

// Reusable sizes
$header-height-s: 8vh;
$header-height-m: 10vh;
$header-height-l: 12vh;

// Decorations
$box-shadow: 0 2px 5px 0 $black-gradient, 0 2px 10px 0 $black-gradient;
$text-shadow-white: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
$text-shadow-black: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
