@import "../../../styles/variables";
@import "../../../styles/mixins";

.LunchsSlider {
  display: flex;
  margin: $spacing-s;
  padding: $spacing-s;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  background-color: $white-gradient;

  &__Previous,
  &__Next {
    flex: 0 1 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 $spacing-s;
    cursor: pointer;
    color: $main-blue;
    font-size: ($font-size-xxl + 1);

    @include smallDevices {
      font-size: $font-size-l;
    }
  }

  &__Show {
    flex: 0 1 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
