@import "../../../styles/variables";
@import "../../../styles/mixins";

.Presentation {
  background-image: url("../../../assets/background/QuienesSomos-Presentation.png");
  @include background-image();

  & .Content {
    @include content();
    align-items: center;

    @include smallDevices() {
      margin: 0 $spacing-s;
    }

    &__Logo {
      width: 50%;
      height: 100%;

      @include smallDevices() {
        width: 100%;
      }
      @include mediumDevices() {
        width: 100%;
      }
    }

    &__Title {
      @include main-title();
      text-align: center;
    }
  }
}
