@import "../../../styles/variables";
@import "../../../styles/mixins";

.Presentation {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/22/21/02/food-2879265_1280.jpg");
  @include background-image();

  & .Content {
    @include content();

    &__Logo {
      width: 50%;
      height: 100%;

      @include smallDevices();
      @include mediumDevices() {
        width: 100%;
      }
    }

    &__Title {
      @include main-title();
    }
  }
}
