@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.LunchItem {
  display: flex;
  flex-direction: column;
  background-color: $main-blue;
  box-shadow: $box-shadow;
  color: $white;
  transition: all 0.5s ease-in-out;

  &__Title {
    padding-bottom: $spacing-xxs;
    border-bottom: $spacing-xxs solid $white;
    margin: $spacing-xs $spacing-4xl;
    text-align: center;
  }

  &__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-s;
    font-size: 50px;
  }

  &__Description {
    padding: $spacing-s;
    margin: 0;
    text-align: center
  }


}
