@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.LunchItem {
  display: flex;
  flex-direction: column;
  background-color: $main-blue;
  box-shadow: $box-shadow;
  color: $white;

  &__Title {
    text-align: center;
  }

  &__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-s;
    font-size: 50px;
  }

  &__Description {
    padding: $spacing-s;
    margin: 0;
  }

  &:hover {
  }
}
