@import "../../styles/variables";
@import "../../styles/mixins";

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to right, $black, $main-blue-gradient),
    url("https://www.freewebheaders.com/wp-content/gallery/food/popular-food-meal-website-header.jpg");
  background-position: center;

  &__Main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: $header-height-l;

    & .Logo {
      display: flex;
      flex: 0 1 15%;
      @include mediumDevices() {
        flex: 0 1 10%;
      }
      @include smallDevices() {
        display: none;
      }
    }

    & .Info {
      flex: 0 1 85%;
      color: $white;
      font-size: $font-size-xl;
      font-variant: small-caps;
      font-family: Georgia, serif;

      @include smallDevices() {
        flex: 0 1 95%;
        text-align: center;
      }
    }

    & .SideMenuToggle {
      display: none;
      @include smallDevices() {
        flex: 0 1 5%;
        display: flex;
        justify-content: center;
      }
      @include mediumDevices() {
        flex: 0 1 5%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
