@import "../../../../../styles/variables";
@import "../../../../../styles/mixins";

.OrganizationCard {
  display: flex;
  flex-direction: column;
  margin: $spacing-s;

  @include smallDevices() {
    margin: 0;
  }

  &__Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-blue;
  }

  &__Label {
    margin: 0;
    padding-left: $spacing-xl;
    color: $white;
    text-align: center;
    font-weight: bold;
  }

  &__Icon {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: $spacing-xs;
    margin: $spacing-xxs;
    border-radius: 50%;
    color: $main-blue;
    background-color: $white;
  }

  &__Description {
    margin: 0;
    padding: $spacing-m;
    color: $white;
    text-indent: $spacing-s;
    text-shadow: $text-shadow-black;
  }
}
