@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.NavItem {
  padding: $spacing-ss;
  text-align: center;
  
  & a {
    color: $white;
    font-size: $font-size-s;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:active,
    &.active {
      color: $main-blue;
    }
    &.active{
      font-weight: bold;
    }

    &:not(.active):after{
      display: block;
      content: "";
      border-bottom: 2px solid $main-blue;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:not(.active):hover:after {
      transform: scaleX(1);
    }
  }
}
