@import "../../../styles/variables";
@import "../../../styles/mixins";

.Organization {
  background-image: linear-gradient(to right, $black, $grey-gradient),
    url("../../../assets/background/bg-test.jpg");
  @include background-image();

  & .Content {
    @include content();
    flex-direction: row;
    align-items: stretch;

    @include smallDevices() {
      margin: 0 $spacing-xl;
    }

    @include largeDevices() {
      flex-direction: column;
    }

    &--left {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      align-self: center;
      color: $white;
      text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
    }

    &--right {
      flex: 0 1 50%;
      display: flex;
    }

    &__Title {
      @include secondary-title();
    }

    &__Description {
      text-indent: $spacing-s;
    }
  }
}
